.tcgelements-stage-animation {
  width: 100px;
  height: 100px;
  -webkit-perspective: 1000px;
  -webkit-perspective-origin: center;
  perspective: 1000px;
  filter: blur(3px);

  .rotate {
    -webkit-transform-style: preserve-3d;
    -webkit-animation: rotate2 10s infinite linear;
    transform-style: preserve-3d;
    animation: rotate2 10s infinite linear;
  }

  figure {
    display: block;
    position: absolute;
    width: 130px;
    height: 130px;
  }

  .cube {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  figure {
    -webkit-transform-origin: center;
    transform-origin: center;
  }

  .front {
    -webkit-transform: translateZ(65px);
    transform: translateZ(65px);
    // background: yellow;
    background-image: linear-gradient(-45deg, #2f2d2d, #545454);
  }

  .back {
    -webkit-transform: rotateY(180deg) translateZ(65px);
    transform: rotateY(180deg) translateZ(65px);
    // background: #00f;
    background-image: linear-gradient(45deg, #2f2d2d, #545454);
  }

  .top {
    -webkit-transform: rotateX(90deg) translateZ(65px);
    transform: rotateX(90deg) translateZ(65px);
    background-image: linear-gradient(-45deg, #2f2d2d, #545454);
  }

  .bottom {
    -webkit-transform: rotateX(-90deg) translateZ(65px);
    transform: rotateX(-90deg) translateZ(65px);
    // background: #0ff;
    background-image: linear-gradient(45deg, #2f2d2d, #545454);
  }

  .left {
    -webkit-transform: rotateY(-90deg) translateZ(65px);
    transform: rotateY(-90deg) translateZ(65px);
    // background: #0f0;
    background-image: linear-gradient(-45deg, #2f2d2d, #545454);

  }

  .right {
    -webkit-transform: rotateY(90deg) translateZ(65px);
    transform: rotateY(90deg) translateZ(65px);
    // background: #f0f;
    background-image: linear-gradient(45deg, #2f2d2d, #545454);
  }

  @-webkit-keyframes rotate {
    0% {
      -webkit-transform: rotateY(0);
      transform: rotateY(0);
    }

    100% {
      -webkit-transform: rotateY(360deg);
      transform: rotateY(360deg);
    }
  }

  @-webkit-keyframes rotate2 {
    0% {
      -webkit-transform: rotatex(0);
      transform: rotatex(0);
    }

    100% {
      -webkit-transform: rotatex(360deg);
      transform: rotatex(360deg);
    }
  }

  @keyframes rotate {
    0% {
      -webkit-transform: rotateY(0);
      transform: rotateY(0);
    }

    100% {
      -webkit-transform: rotateY(360deg);
      transform: rotateY(360deg);
    }
  }

  @keyframes rotate2 {
    0% {
      -webkit-transform: rotatex(0);
      transform: rotatex(0);
    }

    100% {
      -webkit-transform: rotatex(360deg);
      transform: rotatex(360deg);
    }
  }

  .cube {
    -webkit-animation: rotate 10s infinite linear;
    animation: rotate 10s infinite linear;
  }
}
