.tcgelements-gallery-text-sliders{
  position: relative;
  .gallery-img{
    position: relative;
    .swiper-container{
      overflow: visible;
    }
    .img{
      overflow: hidden;
      position: relative;
      a{
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      img{
        transition: all .5s;
      }
    }
  }

  .gallery-text{
    position: relative;
    .swiper-slide{
      display: flex;
      align-items: center;
      visibility: hidden;
    }

    .text{
      width: 100%;
      text-align: center;
      span,a{
        display: inline-block;
      }
      .title{
        font-size: 50px;
        line-height: 1;
        color: #fff;
      }
      .sub-title{
        color: #fff;
        margin-top: 15px;
        overflow: hidden;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 2px;

        span{
          transform: translateY(50px);
          transition: all .8s;
        }
      }
    }

    .swiper-slide-active{
      visibility: visible;
      .text{

        .sub-title{

          span{
            transform: translateY(0);
            transition-delay: .5s;
          }
        }
      }
    }
  }

  .swiper-controls{
    position: absolute;
    bottom: 180px;
    left: 0;
    width: 100%;
    z-index: 9;

    .swiper-button-prev,
    .swiper-button-next{
      position: absolute;
      display: flex;
      align-items: center;
      top: auto;
      color: #fff;
      z-index: 9;

      &:after{
        display: none;
      }

      span{
        white-space: nowrap;
      }
    }

    .swiper-button-prev{
      left: 108px;
      span{
        display: inline-block;
      }
      i,svg{
        margin-right: 25px;
      }
    }

    .swiper-button-next{
      right: 108px;
      span{
        display: inline-block;
      }
      i,svg{
        margin-left: 25px;
      }
    }
  }

  .swiper-pagination{
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    display: none;
  }

  .swiper-pagination-bullet{
    background: transparent;
    margin: 0 10px !important;
  }

  .swiper-pagination-bullet-active .path{
    display: inline-block !important;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    animation: dash linear 10s;
    animation-iteration-count: unset;
  }

  .path {
    display: none;
  }

  @keyframes dash {

    from {
      stroke-dashoffset: 1000;
    }

    to {
      stroke-dashoffset: 0;
    }
  }
}